.mx-auto {
    margin-inline: auto;
}
.mx-1 {
    margin-inline: 10px;
}
.my-1 {
    margin-block: 10px;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.mr-3 {
    margin-right: 30px !important;
}
.mr-2 {
    margin-right: 20px !important;
}
.mx-3 {
    margin-inline: 30px !important;
}
.mx-1 {
    margin-inline: 10px !important;
}
.mt-3 {
    margin-top: 30px !important;
}
.mt-1 {
    margin-top: 10px !important;
}
.my-3 {
    margin-block: 30px !important;
}
.mb-2 {
    margin-bottom: 20px !important;
}
.m-3 {
    margin: 30px !important;
}
.p-3 {
    padding: 30px;
}
.p-2 {
    padding: 20px !important;
}
.pt-0 {
    padding-top: 0 !important;
}