body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  display: block;
}
.profileImage {
  position: relative;
  z-index: -1;
}
.profileImage::before {
  position: absolute;
  left: 90%;
  top: 70%;
  transform: translate(-50%,0);
  width: 100px;
  margin-right: auto;
  height: 30px;
  display: grid;
  place-items: center;
  z-index: 10;
  font-family: 'Material Icons';
  color: #fff;
  content: "create_icon";
  -webkit-font-feature-settings: 'liga';
}
.profileImage::after {
  content: '';
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  width: 100%;
  height: 30px;
  position: absolute;
  top: 70%;
}
.account-create::before {
  left: 75%;
  top: 75%;
}
.account-create::after {
  height: 70px;
}
.modal {
  outline: 0;
}